* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    font-family: 'Arial', sans-serif;
    background-color: beige;
}

.container {
    height: 100vh;
    overflow: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.inputBox {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #940000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.EditImage {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;

}

p {
    color: white;
}

.buttons_upload {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    color: black;
    margin-top: 10px;
}

.main {
    position: relative;
}

#Download {
    position: absolute;
    left: 1%;
    bottom: -10%;
    border-radius: 0%;
}

#refresh {
    margin-top: 10px;
}

@media screen and (max-width:468px) {
    .container {
        flex-direction: column;
    }

    .EditImage {
        width: 300px;
    }
}

@media screen and (max-width:768px) {
    .container {
        flex-direction: column;
    }
}